@keyframes shakeV1
{
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    95% { transform: translate(1px, -2px) rotate(-1deg); }
    100% { transform: translate(0px, 0px) rotate(0deg); }
}

@keyframes shakeV2
{ 
    10%, 90% { transform: translate3d(-1px, 0, 0); }
    20%, 80% { transform: translate3d(2px, 0, 0); }
    30%, 50%, 70% { transform: translate3d(-4px, 0, 0); }
    40%, 60% { transform: translate3d(4px, 0, 0); }
}

@keyframes shakeV3
{
    0%, 100% { transform: translate(0, 0); }
    10%, 30%, 50%, 70%, 90% { transform: translate(15px); }
    20%, 40%, 60%, 80% { transform: translate(-15px); }
}

@keyframes shakeExtreme
{
    0% { transform: translate(20px, 20px) rotate(0deg); }
    10% { transform: translate(-20px, -20px) rotate(-15deg); }
    20% { transform: translate(-60px, 0px) rotate(15deg); }
    30% { transform: translate(60px, 20px) rotate(0deg); }
    40% { transform: translate(20px, -20px) rotate(15deg); }
    50% { transform: translate(-20px, 40px) rotate(-15deg); }
    60% { transform: translate(-60px, 20px) rotate(0deg); }
    70% { transform: translate(60px, 20px) rotate(-15deg); }
    80% { transform: translate(-20px, -20px) rotate(1deg); }
    90% { transform: translate(20px, 40px) rotate(0deg); }
    95% { transform: translate(20px, -40px) rotate(-15deg); }
    100% { transform: translate(0px, 0px) rotate(0deg); }
}

@keyframes shakeV4
{
  10%, 90% { transform: translate3d(-1px, 2px, 0); }
  20%, 80% { transform: translate3d(2px, 5px, 0); }
  30%, 50%, 70% { transform: translate3d(-4px, 10px, 0); }
  40%, 60% { transform: translate3d(4px, 0, 0); }
}

@keyframes punchInRight
{
    0%
    {
        bottom: -25%;
        right: -60%;
        scale: 100%;
    }
    100%
    {
        bottom: 0%;
        right: 0%;
        scale: 125%;
    }
}
@keyframes punchInLeft
{
    0%
    {
        bottom: -25%;
        left: -60%;
        scale: 100%;
    }
    100%
    {
        bottom: 0%;
        left: 0%;
        scale: 125%;
    }
}
@keyframes punchOutRight
{
    0%
    {
        bottom: 0%;
        right: 0%;
        scale: 125%;
    }
    100%
    {
        bottom: -25%;
        right: -60%;
        scale: 100%;
    }
}
@keyframes punchOutLeft
{
    0%
    {
        bottom: 0%;
        left: 0%;
        scale: 125%;
    }
    100%
    {
        bottom: -25%;
        left: -60%;
        scale: 100%;
    }
}
@keyframes zoomIn
{
    0% { scale: 175%; }
    100% { scale: 700%; }
}

@keyframes fadeOut
{
    0% { opacity: 0; }
    100% { opacity: 1; }
}