*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background-color: black;
    overflow: hidden;
}

/* VHS Font */
@font-face
{
    font-family: 'Vhs';
    src: url(./resources/Vhs.ttf) format('truetype');
}

p, li, a
{
    animation: textShadow 1.6s infinite;
    text-decoration: none;
    font-size: 48px;
    font-family: 'Vhs';
    color: white;
    text-shadow: 4px 4px rgba(0, 0, 0);
}

p
{
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.box
{
    position: absolute;
    background: #000;
}

#instructions_img
{
    position: absolute;
    bottom: 0px;
    right: 0%;
    z-index: 1;
    height: 170%;
}

@keyframes takeOut
{
    from
    {
        bottom: -900px;
        right: -20%;
    }
    to
    {
        bottom: 0px;
        right: 0%;
    }
}

@keyframes putAway
{
    from
    {
        bottom: 0px;
        right: 0%;
    }
    to
    {
        bottom: -900px;
        right: -15%;
    }
}