#control
{
    position: fixed;
    top: 5%;
    left: 10%;
}

#record
{
    position: fixed;
    top: 100px;
    left: 10%;
}
#currentTime
{
    position: fixed;
    top: 5%;
    right: 10%;
}
#time
{
    position: fixed;
    bottom: 12%;
    left: 10%;
}
#currentDate
{
    position: fixed;
    left: 10%;
    bottom: 5%;
}

#centerVideo
{
    text-align: center;
}
#mainVideo
{
    position: absolute;
    inset: 0;
    margin: auto;
    height: 100%;
    max-height: 100vh;
    min-width: 50%;
    max-width: 85%;
    z-index: 0;
}
#leftbar, #rightbar, #control, #record, #currentDate, 
#time, #currentTime
{
    z-index: 1;
}

#vhs_overlay
{
    z-index: 2;
}
