#title
{
    text-align: center;
}

body
{
    background-color: rgb(30, 58, 164);
}

#tapes
{
    position: fixed;
    top: 20%;
    left: 15%;
    width: 70%;
    list-style: none;
}

#tapes li
{
    margin-bottom: 10px;
}
#tapes li a
{
    font-size: 36px;
    margin-left: 10px;
}

#tapes li a:hover
{
    cursor: default;
}

#tapeIndex, #dialogue
{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    bottom: 10%;
}

#tapeIndex li
{
    display: inline;
    margin-right: 10px;
    margin-left: 10px;
    padding-right: 5px;
    padding-left: 5px;
}

#tapeIndex li:hover
{
    cursor: default;
}

#error
{
    color: #7d0101;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    bottom: 20%;
    font-size: 64px;
    z-index: 1;
}

#topbar
{
    background-color: black;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

@keyframes topOut
{
    0%
    {
        top: -100%;
    }
    30%
    {
        top: -60%
    }
    100%
    {
        top: -45%;
    }
}

#bottombar
{
    background-color: black;
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

@keyframes bottomOut
{
    0%
    {
        bottom: -100%;
    }
    30%
    {
        bottom: -60%
    }
    100%
    {
        bottom: -45%;
    }
}

@keyframes fadeOut
{
    0%
    {
        opacity: 0.8;
    }
    100%
    {
        opacity: 0.1;
    }
}

@keyframes fadeOutAll
{
    0%
    {
        opacity: 1;
    }
    100%
    {
        opacity: 0;
    }
}

#face
{
    position: absolute;
    inset: 0;
    margin: auto;
}

@keyframes shake
{
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    95% { transform: translate(1px, -2px) rotate(-1deg); }
    100% { transform: translate(0px, 0px) rotate(0deg); }
}