body
{
    background-color: black;
    height: 100%;
    overflow: hidden;
}
#tv_div
{
    text-align: center;
}
#tv_div #tv
{
    position: absolute;
    inset: 0;
    margin: auto;
    max-height: 60vh;
    min-width: 50%;
    max-width: 85%;
}

#instructions_img
{
    position: absolute;
    bottom: 0px;
    right: 10%;
    z-index: 1;
}

@keyframes takeOut
{
    from
    {
        bottom: -450px;
        right: -10%;
    }
    to
    {
        bottom: 0px;
        right: 10%;
    }
}

@keyframes putAway
{
    from
    {
        bottom: 0px;
        right: 10%;
    }
    to
    {
        bottom: -450px;
        right: -5%;
    }
}